@import url(app.css);

.register-section {
  width: 100%;
  /* Instead of forcing 100vh, we use min-height to leave space for navbar and footer */
  min-height: calc(100vh - 150px); /* Adjust 150px to match your navbar + footer heights */
  background-color: #f4f4f9; /* Background color to give some contrast */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Optional: adds some extra breathing room */
}

.register-container {
  width: 100%;
  max-width: 500px; /* Max width for the form container */
  background-color: white; /* White background for the container */
  padding: 2rem;
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for better contrast */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-heading {
  font-size: 2rem;
  text-align: center; /* Center the heading */
  font-weight: bold;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-input,
textarea,
select {
  font-size: 1rem;
  background-color: rgb(234, 234, 234);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-family: var(--font-family);
}

.form-input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #4f8a8b; /* Border color on focus */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-link {
  color: var(--darker-blue);
  text-align: center;
  display: block;
  margin-top: 1rem;
}

.register-form button {
  padding: 1rem;
  background-color: #4f8a8b; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:disabled {
  background-color: #ccc;
}

.register-form button:hover:not(:disabled) {
  background-color: #3b7070;
}

/* Responsive adjustments */
@media (max-width: 1184px) {
  .register-container {
    width: 40%;
  }
}

@media (max-width: 1120px) {
  .register-container {
    width: 45%;
  }
}

@media (max-width: 746px) {
  .register-container {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .register-container {
    width: 75%;
  }
}

@media (max-width: 408px) {
  .register-container {
    width: 85%;
  }
}
